@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <!--Customer Info-->
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customers" required type="text" value="" class="form-control" />
        </div>
    </div>
    <!--Movie(s) Info-->
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control"/>
        </div>
    </div>
    <!--Movie List-->
    <ul id="movies" class="list-group col-md-4 col-sm-4">
    </ul>
    <!--Submit Button-->
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {

            var vm = {
                movieIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customers').typeahead({
                    minLength: 3,
                    highlight: true

            },
            {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function(e, customer) {
            vm.customerId = customer.id;
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                    minLength: 3,
                    highlight: true

                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function(e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");
                    vm.movieIds.push(movie.id);
                }
            );

            $("#newRental").validate({
                submitHandler: function() {
                    $("#newRental").submit(function(e) {
                        e.preventDefault();

                        $.ajax({
                                url: "/api/rentals",
                                method: "POST",
                                data: vm
                        })
                        .done(function() {
                            toastr.success("Rentals successfully recorded.");
                            $("#movie").typeahead("val", "");
                            $("#customers").typeahead("val", "");
                            $("#movies li").remove();
                        })
                        .fail(function() {
                            toastr.error("Something happened!");
                        });
                    });
                }
            });

            
        });
    </script>
}
